<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>BJJ Notes Tracker</title>
</head>
<body>
    <nav>
        <% if (user) { %> 
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
        <a href="/">Home</a>
        <a href="/notes">Daily Notes</a>
        <a href="/positions">Positions</a>
        <a href="/links">Links</a>
        <a href="/users">Goals</a>
        <a href="/schedules">Scheduler</a>
        <!-- <img class = "avatar" src="https://cdn4.iconfinder.com/data/icons/forum-buttons-and-community-signs-1/794/profile-3-512.png"> -->
    </nav>
    <div id="page">