<%- include('./partials/header') %>

<h1>Welcome to BJJ Notes Tracker!</h1>
<h2>All of your Jiu-Jitsu and grappling notes in one place</h2>

<br><br><br>
With this app, you can:
<ul>
    <li>-Take notes on your daily classes or instructional videos</li><br>
    <li>-Take notes on </li><br>
    <li>-Save your favorite BJJ links</li><br>
    <li>-Write out your BJJ goals, from short to long term</li><br>
    <li>-Schedule out your classes/workouts for the whole week</li>
</ul>

<%- include('./partials/footer') %>
