<%- include('../partials/header') %>

Scheduler

<section id="scheduler">
    <div>Mon</div>
    <div>Tues</div>
    <div>Wed</div>
    <div>Thur</div>
    <div>Fri</div>
    <div>Sat</div>
    <div>Sun</div>

    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</section>

<%- include('../partials/footer') %>