* {
  box-sizing: border-box;
}

body {
  padding-top: none;
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100vmin;
  /* background-color: #ceeff0; */
  display: grid;
  grid-template-columns: 40vmin 150vmin;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3vmin;
  height: 100vmin;
  background-color: #71599e;
  text-align: center;
}

nav > a {

}

nav > * {
  height: 10vmin;
}

#nav-active {
  color: blue;
}

nav > img {
  width: 34px;
  height: 10px;
  object-fit: contain;
  margin-right: auto;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#page {
  font-size: 3vmin;
  margin-top: 5vmin;
  margin-left: 5vmin;
}

#home {
  background: rgba(160, 160, 160, .8);
  border-radius: 3px;
  left: 40vmin;
  height: 100vmin;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  padding: 0 10px;
}

#home-pic {
  background-image: url("https://i.pinimg.com/564x/1b/50/91/1b50914ffc77cecc254c776dda2eed3b.jpg");
  background-size: cover;
  display: block;
  filter: contrast(75%);
  height: 100vmin;
  left: 40vmin;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#home-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#home-items > img {
  height: 8vmin;
  border-radius: 50%;
}

#home-items > div {
  width: 40vmin;
  height: 25vmin;
}

#zoom {
  
}

h1, h2 {
  text-align: center;
}


ul {
  list-style-type: none;
}

#notes-li {
  margin-bottom: 4vmin;
}

#positions-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#positions-li {
  border: .4vmin solid gray;
  border-radius: 2vmin;
  height: 20vmin;
  width: 40vmin;
  margin: 2vmin;
  text-align: center;
}

#positions-textarea {
  width: 34vmin;
  margin-left: 2.5vmin;
  margin-top: .5vmin;
}

#positions-delete {
  position: relative;
  bottom: 3.8vmin;
  left: 14vmin;
}

nav >:hover {
  background-color: lightgrey;
}

a {
  color: black;
  text-decoration: none;
}

textarea {
  background-color: #dddddd;
  border-radius: 1vmin;
  border: .2vmin solid black;
  outline: none;
  height: 20vmin;
  width: 50vmin;
}

#notes-textarea {
  width: 40vmin;
  height: 20vmin;
}

.modal {
  transform: scale(0);
  display: none;
  border: 1px solid black;
  border-radius: 10%;
  z-index: 10;
  background-color: white;
  height: 30vmin;
  width: 50vmin;
  text-align: center;
}

.modal.active {
  transform: scale(1);
  display: block;
}

.modal-title {
  font-size: 2vmin;
  font-weight: bold
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4vmin;
  font-weight: bold;
}

#modal-delete {
  position: relative;
  bottom: 3.8vmin;
  left: 14vmin;
  
}

.modal-header .close-button:hover {
  border: 1vmin solid black;
}

.modal-body {
  padding: 10px 15px;
}

#link-ul {
  list-style-type: disc;
}

#link-li {
  border: none;
}

#link-li>a{
  color: #0000EE;
  text-decoration: underline;
}

#notes-page {
  margin-left: 25vmin;
}

#scheduler-days {
  display: grid;
  grid-template-columns: repeat(7, 18vmin);
  grid-template-rows: repeat(1, 5vmin);
}

#scheduler-times {
  display: flex;
  flex-direction: row;
} 

#scheduler-times > section > div {
  font-size: 1.2vmin;
  overflow-y: visible;
}

#mon-col, #tue-col, #wed-col, #thu-col, #fri-col, #sat-col, #sun-col {
  display: grid;
  grid-template-columns: repeat(1, 18vmin);
  grid-template-rows: repeat(35, 2vmin);
  border: .1vmin solid black;
}

#mon-col > .taken, #tue-col > .taken, #wed-col > .taken, #thu-col > .taken, #fri-col > .taken, #sat-col > .taken, #sun-col > .taken {
  font-size: 1.8vmin;
}

#mon-col > .taken {
  background-color: red;
}

#tue-col > .taken {
  background-color: lightgreen;
}

#wed-col > .taken {
  background-color: yellow;
}

#thur-col > .taken {
  background-color: purple;
}

#fri-col > .taken {
  background-color: orange;
}

#sat-col > .taken {
  background-color: magenta;
}

#sun-col > .taken {
  background-color: gray;
}

.avail {
  background-color: white;
}


/* #scheduler-times div {
  border: .05vmin solid black;
} */

#position-edit {
}

#flow-chart {
  display: grid;
  grid-template-columns: repeat(5, 20vmin);
  grid-template-rows: repeat(5, 20vmin);
}

#flow-chart > div > form > button {
  height: 3vmin;
  width: 10vmin;
}

#flow-chart > div > form > input, textarea{
  height: 10vmin;
  width: 10vmin;
  background-color: white;
}

#flow-chart > div {
  transform: scale(1);
  position: relative;
}

#flow-chart > div.shown {
  transform: scale(1);
}

#flow-chart > div > form > button#left {
  width: 1vmin;
  height: 10vmin;
  position: absolute;
  left: 0;
  top: 2vmin;
}

#flow-chart > div > form > button#top {
  width: 10vmin;
  height: 2vmin;
  position: absolute;
  top: 0;
  left: 2vmin
}

#flow-chart > div > form > button#right {
  width: 1vmin;
  height: 10vmin;
  position: absolute;
  right: 6vmin;
  top: 2vmin;
}

#flow-chart > div > form > button#bottom {
  width: 10vmin;
  height: 2vmin;  
  position: absolute;
  bottom: -4vmin;
  left: 2vmin
}

#flow-chart > div > form > div {
  height: 10vmin;
  width: 10vmin;
  position: relative;
  top: 2vmin;
  left: 2vmin;
}

#flow-chart > div > form > div > button#edit {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2vmin;
  width: 4.5vmin;
}

#flow-chart > div > form > div > button#hide {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2vmin
}

#chart-ul {
  list-style-type: disc;
}

#goals-page > form > textarea {
  width: 30vmin;
}