* {
  box-sizing: border-box;
}

body {
  padding-top: none;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vmin;
  /* background-color: #ceeff0; */
  display: grid;
  grid-template-columns: 30vmin 90vmin;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 3vmin;
  height: 100vmin;
  background-color: lightblue;
  text-align: center;
}

#page {
  font-size: 3vmin;
  margin-top: 5vmin;
  margin-left: 5vmin;
}

ul {
  list-style-type: none;
}

li {
  white-space: pre-wrap;
  border: .4vmin solid gray;
  border-radius: 2vmin;
  height: 30vmin;
  width: 40vmin;
  margin: 2vmin;
}

li > * {
}

nav >:hover {
  background-color: lightgrey;
}

a {
  color: black;
  text-decoration: none;
}

#nav-active {
  color: blue;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.avatar {
  height: 40px;
}

textarea {
  background-color: #dddddd;
  border-radius: 1vmin;
  border: .1vmin solid transparent;
  outline: none;
  height: 10vmin;
  width: 30vmin;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10%;
  z-index: 10;
  background-color: white;
  height: 30vmin;
  width: 100vmin;
}

.modal.active {
  transform: translate(50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  font-size: 2vmin;
  font-weight: bold
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4vmin;
  font-weight: bold;
}

.modal-header .close-button:hover {
  border: 1vmin solid black;
}

.modal-body {
  padding: 10px 15px;
}

#link-ul {
  list-style-type: disc;
}

#link-li {
  border: none;
}

#link-li>a{
  color: #0000EE;
  text-decoration: underline;
}

#scheduler-days {
  display: grid;
  grid-template-columns: repeat(7, 10vmin);
  grid-template-rows: repeat(1, 5vmin);
}

#scheduler-times {
  display: flex;
  flex-direction: row;
} 

#mon-col, #tue-col, #wed-col, #thu-col, #fri-col, #sat-col, #sun-col {
  display: grid;
  grid-template-columns: repeat(1, 10vmin);
  grid-template-rows: repeat(35, 2vmin);
  border: .1vmin solid black;
}

#mon-col div, #tue-col div, #wed-col div, #thu-col div, #fri-col div, #sat-col div, #sun-col div {
}



/* #scheduler-times div {
  border: .05vmin solid black;
} */
