* {
  box-sizing: border-box;
}

body {
  padding-top: none;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vmin;
  /* background-color: #ceeff0; */
  display: grid;
  grid-template-columns: 40vmin 100vmin;
  background-image: url("https://media.istockphoto.com/id/1080248694/photo/abstract-gray-background.jpg?b=1&s=170667a&w=0&k=20&c=gGjGq3LMbYXhQjiyeB72jCxj8bTi_HNZHhkPuBwxQ7E=");
  background-size: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3vmin;
  height: 100vmin;
  background-color: #71599e;
  text-align: center;
}

nav > * {
  height: 10vmin;
}

#nav-active {
  color: blue;
}

nav > img {
  width: 34px;
  height: 10px;
  object-fit: contain;
  margin-right: auto;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#page {
  font-size: 3vmin;
  margin-top: 5vmin;
  margin-left: 5vmin;
}

h1, h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}

#positions-li {
  white-space: pre-wrap;
  border: .4vmin solid gray;
  border-radius: 2vmin;
  height: 30vmin;
  width: 40vmin;
  margin: 2vmin;
}

li > * {
}

nav >:hover {
  background-color: lightgrey;
}

a {
  color: black;
  text-decoration: none;
}

textarea {
  background-color: #dddddd;
  border-radius: 1vmin;
  border: .1vmin solid transparent;
  outline: none;
  height: 20vmin;
  width: 50vmin;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10%;
  z-index: 10;
  background-color: white;
  height: 30vmin;
  width: 100vmin;
}

.modal.active {
  transform: translate(50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  font-size: 2vmin;
  font-weight: bold
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4vmin;
  font-weight: bold;
}

.modal-header .close-button:hover {
  border: 1vmin solid black;
}

.modal-body {
  padding: 10px 15px;
}

#link-ul {
  list-style-type: disc;
}

#link-li {
  border: none;
}

#link-li>a{
  color: #0000EE;
  text-decoration: underline;
}

#scheduler-days {
  display: grid;
  grid-template-columns: repeat(7, 10vmin);
  grid-template-rows: repeat(1, 5vmin);
}

#scheduler-times {
  display: flex;
  flex-direction: row;
} 

#scheduler-times > section > div {
  font-size: 1.2vmin;
  overflow-y: visible;
}

#mon-col, #tue-col, #wed-col, #thu-col, #fri-col, #sat-col, #sun-col {
  display: grid;
  grid-template-columns: repeat(1, 10vmin);
  grid-template-rows: repeat(35, 2vmin);
  border: .1vmin solid black;
}

#mon-col div, #tue-col div, #wed-col div, #thu-col div, #fri-col div, #sat-col div, #sun-col div {
}

#mon-col > .taken {
  background-color: red;
}

#tue-col > .taken {
  background-color: lightgreen;
}

#wed-col > .taken {
  background-color: yellow;
}

#thur-col > .taken {
  background-color: purple;
}

#fri-col > .taken {
  background-color: orange;
}

#sat-col > .taken {
  background-color: magenta;
}

#sun-col > .taken {
  background-color: gray;
}

.avail {
  background-color: white;
}


/* #scheduler-times div {
  border: .05vmin solid black;
} */

.position-edit {
  
}